<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}{% endblock %}
		</title>
		<style>
			body {
				margin: 0;
				font-size: 14px;
				letter-spacing: 0.5px;
			}
			.container {
				width: 100%;
				background-color: #F9F9F9;
				font-family: 'Montserrat', sans-serif;
				padding: 0 20%;
			}
			.logo {
				width: 200px;
				height: 100px;
				margin: 20px auto 0;
				display: block;
			}
			.image {
				width: 500px;
				height: 300px;
				margin: 0 auto;
				display: block;
			}
			.greeting-text {
				text-align: left;
				color: #000000;
				opacity: 0.7;
				font-weight: bold;
			}
			.description-text {
				text-align: left;
				color: #000000;
				opacity: 0.7;
			}
			.description-text-centered {
				text-align: center;
				color: #000000;
				opacity: 0.7;
				font-weight: bold;
			}
			.sub-text {
				text-align: center;
				color: #000000;
				opacity: 1;
				font-weight: bold;
			}
			.content {
				text-align: center;
				padding: 20px;
			}
			.footer {
				text-align: right;
				color: #000000;
				padding: 10px 20px;
				font-weight: bold;
			}
			.btn {
				color: #ffffff;
				background: #1c57a4;
				height: 30px;
				border: none;
				border-radius: 10px;
				position: absolute;
				font-weight: bold;
				padding: 5px;
				margin-left: -6.35%;
				margin-top: -5%;
				width: 200px;
			}
			.btn:hover {
				cursor: pointer;
			}
			p{
				margin: 0;
			}
		</style>
	</head>
	<body>
	Hello account verification!
	</html>
